.navbar {
  background-color: var(--color-primary);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navList {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 1rem;
}

.navItem a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navItem a:hover {
  text-decoration: underline;
}

.navIcons {
  display: flex;
  align-items: center;
}

.cartButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 1rem;
}
